fastapi
uvicorn[standard]

sqlalchemy
pymysql
cryptography
alembic

python-jose[cryptography]
passlib[bcrypt]
python-multipart

cloudinary

razorpay

aiosmtplib

python-dotenv

pydantic
pydantic-settings
email-validator
bcrypt
